{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1>Do You Really Need Travel Insurance? Here’s When It Matters Most</h1>
    <img src="{{ url_for('static', filename='image/b15c.avif') }}" alt="Renew General Insurance" class="img-fluid mb-3" style="width: 100%; height: auto; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
  <p>If you think travel insurance is just a “nice-to-have,” think again. Here's when it's absolutely essential</p>

  <section>
    <h3>Scenarios Where Travel Insurance Helps :</h3>
    <ul>
      <li>Lost Baggage or passport abroad</li>
      <li><strong>Medical Emergency</strong> in a foreign country</li>
      <li><strong>Trip Cancellation</strong> due to illness or airline strike</li>
      <li><strong>Emergency Evacuation</strong></li>
      <li><strong>Visa Requirement</strong> for countries like Schengen, USA, UAE</li>
    </ul>
    <p>Whether you’re traveling for business, studies, or leisure, a small premium can save lakhs.</p>
  </section>
</div>
{% endblock %}
