{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1>Tips to Lower Your Home Insurance Premium</h1>
    <img src="{{ url_for('static', filename='image/b17c.avif') }}" alt="Renew General Insurance" class="img-fluid mb-3" style="width: 100%; height: auto; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
  <p>Want comprehensive coverage at a better price? Here are smart ways to reduce your premium</p>

  <section>
    <h3>Top Tips:</h3>
    <ul>
      <li>Install <strong>CCTV, fire alarms</strong>, and security systems</li>
      <li>Opt for long-term policies (3 to 5 years) for discounts</li>
      <li>Avoid over-insuring or under-insuring</li>
      <li>Choose <strong>higher deductibles</strong> if you can afford it</li>
      <li>Bundle with other policies (motor/travel) from the same insurer for multi-policy discounts</li>
    </ul>
    <p><span style="color: orange; font-weight: bold;">Tip:</span> Always compare online before buying to get the best deal.</p>
  </section>
</div>
{% endblock %}
