{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1>Types of General Insurance: A Beginner’s Guide</h1>
    <img src="{{ url_for('static', filename='image/b22c.avif') }}" alt="Renew General Insurance" class="img-fluid mb-3" style="width: 100%; height: auto; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
  <p>General insurance comes in many forms, each tailored to specific needs. Here's a quick overview</p>

  <section>
    <ul>
      <li><strong>Health Insurance</strong> – Covers medical expenses like hospitalization, surgeries, and treatments.</li>
      <li><strong>Motor Insurance</strong> – Includes car and bike insurance; mandatory in India. Can be third-party or comprehensive.</li>
      <li><strong>Home Insurance</strong> – Protects your house and belongings against fire, theft, and natural disasters.</li>
      <li><strong>Travel Insurance</strong> – Covers trip cancellations, medical emergencies, and baggage loss while traveling.</li>
      <li><strong>Personal Accident Insurance</strong> – Provides compensation in case of accidental injury or death.</li>
      <li><strong>Commercial Insurance</strong> – Covers businesses against property damage, liability, employee risks, etc.</li>
      <li><strong>Fire & Marine Insurance</strong> – Essential for businesses dealing with property, warehouses, or logistics.</li>
    </ul>
  </section>
</div>
{% endblock %}
