{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1>Importance of Personal Accident Insurance for Working Professionals </h1>
  <img src="{{ url_for('static', filename='image/b7c.avif') }}" alt="Renew General Insurance" class="img-fluid mb-3" style="width: 100%; height: auto; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
  <p>Accidents don’t wait—and can derail your career and finances. Personal accident insurance gives lump sum compensation for such cases.</p>

  <p><strong>What It Covers:</strong></p>
  <ul>
    <li>Accidental death</li>
    <li>Permanent total disability</li>
    <li>Partial disability</li>
    <li>Hospitalization due to accidents</li>
  </ul>

  <p><strong>Why Professionals Need It:</strong></p>
  <ul>
    <li>Ensures income protection during recovery</li>
    <li>Affordable premiums</li>
    <li>Complements your corporate health cover</li>
  </ul>

  <p><span style="color: orange;"><strong>Bonus:</strong></span> Many plans also offer <strong>education benefit for children</strong> in case of death/disability.</p>
</div>
{% endblock %}
