{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1>What Is General Insurance and Why Do You Need It?</h1>
    <img src="{{ url_for('static', filename='image/b25c.avif') }}" alt="Renew General Insurance" class="img-fluid mb-3" style="width: 100%; height: auto; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
  <p>General insurance refers to non-life insurance policies that protect your valuable assets—like your car, home, health, travel, and even business—from financial losses due to damage, theft, accidents, or other unexpected events.</p>

  <section>
    <p>Unlike life insurance, which offers coverage for life and death-related events, general insurance offers coverage for specific risks over a fixed period.</p>
    <h3 style="color: #f4c300;">Why You Need It :</h3>
    <ul>
      <li><strong>Financial protection</strong> against unforeseen events</li>
      <li><strong>Peace of mind</strong> knowing your assets are safeguarded</li>
      <li><strong>Legal compliance</strong>, especially for vehicles (mandatory in India)</li>
      <li><strong>Support during emergencies</strong>, like accidents, medical crises, or natural disasters.</li>
    </ul>
    <p>Whether you’re a car owner, a frequent traveler, a homeowner, or a businessperson, general insurance acts as your financial shield.</p>
  </section>
</div>
{% endblock %}
